body {
	margin: 0;
	background-color: rgb(31, 31, 31);
	user-select: none;
	display: flex;
	justify-content: center;
}

img {
	-webkit-user-drag: none;
}


.fightingMainBlock {
	width: 1400px;
	height: 100vh;
	position: relative;
	display: flex;
	justify-content: center;
}


.putCard {
	width: 800px;
	height: 100%;
	position: absolute;
}
#prohibitSide {
	width: calc(100% - 10px);
	height: calc(47% - 10px);
	background-color: rgba(255, 0, 0, 0.445);
	border: 5px solid red;
}
#safeSide {
	width: 100%;
	height: 26%;
	background-color: rgba(0, 174, 255, 0.39);
}


#putCardBoard {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}
#enemySide {
	width: 100%;
	height: 19%;
	position: relative;
	display: flex;
	justify-content: space-evenly;
	padding-top: 5%;
}
#ourSide {
	width: 100%;
	height: 30%;
	position: relative;
	display: flex;
	justify-content: space-evenly;
}


.fightingBackground {
	width: 1400px;
	height: 100%;
}


#changePlayerTurn {
	width: 97px;
	height: 40px;
	position: absolute;
	left: 84%;
	top: 45.8%;
	transform: translate(-84%, -45.8%);
	background-color: rgb(255, 230, 0);
	border-radius: 35%;
	cursor: pointer;
}


.player {
	width: 103px;
	height: 126px;
	background-color: orange;
	border-radius: 50% 50% 0 0;
	border: 5px solid gold;
}
.player img {
	width: 100%;
	height: 100%;
	border-radius: 50% 50% 0 0;
}

#playerDefender {
	position: absolute;
	left: 49.9%;
	top: 11.5%;
	transform: translate(-49.9%, -11.5%);
}
#playerAttacker {
	position: absolute;
	left: 49.9%;
	top: 82.6%;
	transform: translate(-49.9%, -82.6%);
}
.playerBlood {
	width: 35px;
	height: 35px;
	position: absolute;
	right: -10px;
	top: -10px;
	color: azure;
	background-color: red;
	border: 2px solid black;
	font-size: 24px;
	text-align: center;
	line-height: 35px;
	border-radius: 10%;
}


#startGame {
	width: 100px;
	height: 100px;
	position: absolute;
	left: calc(50% - 50px);
	top: calc(50% - 50px);
	color: white;
	background-color: rgb(255, 52, 52);
	font-size: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	cursor: pointer;
}
#startGame:hover {
	background-color: rgb(255, 103, 103);
}


#chooseCard {
	width: 100vw;
	height: 100vh;
	color: white;
	background-color: rgba(95, 95, 95, 0.473);
	position: absolute;
	left: 0;
	top: 0;
	display: none;
	justify-content: center;
}
#chooseCard h1 {
	width: 250px;
	height: 60px;
	background-color: black;
	position: absolute;
	top: 40px;
	text-align: center;
	line-height: 2;
}
#chooseCard input {
	width: 80px;
	height: 40px;
	position: absolute;
	top: 590px;
	color: white;
	background-color: rgb(202, 0, 0);
	cursor: pointer;
}


.playerCard {
	width: 100px;
	height: 155px;
	position: absolute;
	top: 10px;
	left: 10px;
	border-bottom: 1px solid #e6eaf5;
	border-top: 1px solid #7390bf;
	box-shadow: 0px 0px 50px rgb(183, 0, 255);
	box-sizing: border-box;
	cursor: pointer;
}
.playerCard:focus {
	border: 5px solid yellow;
}

.playerCard img {
	width: 100%;
	height: 100%;
}
.playerCard .charInfo {
	width: 25px;
	height: 25px;
	position: absolute;
	right: 0;
	font-size: 24px;
	color: azure;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
}


.playerCardOnGround {
	width: 75px;
	height: 115px;
	position: relative;
}


.canAttack {
	box-shadow: 0px 0px 50px rgb(0, 255, 106);
	box-sizing: border-box;
	border: 3px solid rgb(0, 255, 106);
}


.defender:hover {
	box-shadow: 0px 0px 50px rgb(209, 0, 0);
}
