body {
	padding-top: 10px;
}
.App {
	display: flex;
	justify-content: center;
	text-align: center;
}

.gameMap {
	background-color: black;
}

.blockFrame {
	justify-content: space-around;
}

.singleBlock {
	float: left;
	padding: 5px;
	box-sizing: border-box;
}
.singleBlock .block {
	width: 100%;
	height: 100%;
	background-color: red;
}
