body {
	font-family: "Roboto";
}

h3 {
	text-align: center;
	color: rgba(0, 83, 0, 0.87);
}
ul {
	list-style: none;
	clear: both;
}
li {
	margin: 10px;
}
button {
	border-radius: 3px;
}
table {
	width: 84%;
	margin: auto;
	text-align: center;
	table-layout: fixed;
}
table img {
	margin-bottom: 30px;
	height: 100px;
	width: 100px;
}
nav#title {
	background: linear-gradient(rgb(95, 109, 233), rgb(45, 45, 182));
	color: rgb(220, 239, 255);
}
#title a {
	color: rgb(220, 239, 255);
	text-decoration: none;
	cursor: pointer;
}
#title ul li {
	display: inline-block;
}
#titleDown {
	position: relative;
	left: 15%;
	float: left;
	width: 20%;
	bottom: -100px;
}
.hello {
	position: relative;
	left: 20%;
	height: 400px;
	width: 600px;
	overflow: hidden;
	cursor: pointer;
}
.hello img {
	width: 650px;
	height: 450px;
	border-radius: 5px;
}
#content {
	font-weight: bold;
	color: rgba(86, 97, 199, 0.836);
}
#name {
	background-color: rgb(8, 45, 85);
	color: white;
	font-size: 150%;
}
#name table {
	width: 80%;
	margin: auto;
}
#name th {
	padding: 30px;
}
#game {
	display: flex;
	justify-content: center;
	color: rgb(255, 255, 255);
	text-align: center;
}
#game div {
	position: relative;
	margin: 20px;
	height: 400px;
	width: 300px;
	border-radius: 7px;
	cursor: pointer;
}
.mask {
	position: absolute;
	top: -300px;
	left: -20px;
	background-color: rgba(146, 146, 146, 0.658);
	display: none;
}
.mask span {
	position: absolute;
	top: 40%;
	height: 100px;
	width: 300px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(85, 85, 85, 0.658);
	font-size: 30px;
}
#game img {
	margin-bottom: 20px;
	width: 300px;
	height: 200px;
	border-radius: 7px 7px 0 0;
}
#game1 {
	background-color: rgb(230, 0, 0);
}
#game2 {
	background-color: rgb(0, 0, 230);
}
#game3 {
	background-color: rgb(0, 230, 173);
}
#gmail {
	color: rgb(220, 239, 255);
	background-color: rgba(86, 97, 199, 0.836);
}
